.c_style{
	
  border-radius: 25px;
  background: #FFFFFF;
  background-color: #D3D3D3;
  padding: 20px; 
  width: 400px;
  border: 2px soild
  height: 2px; 
  border-spacing: 1px solid;
	font-family: Arial, Verdana, sans-serif;
				color: #111111;
	h1{color:rgb(200,200,200);}

		}	

